<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header_content d-flex flex-row align-items-center justify-content-center">

          <!-- Logo -->
          <div class="logo">
            <a href="#" class="d-flex flex-row align-items-end justify-content-start">
              <span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
              <span class="logo_text">music</span>
            </a>
          </div>

          <!-- Main Navigation -->
          <nav class="main_nav">
            <ul class="d-flex flex-row align-items-center justify-content-start">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-black" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="artists.html">Artists</a></li>
              <li><a href="#">Download Music</a></li>
              <li><a href="blog.html">News</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>

          <!-- User area -->
          <div class="log_reg d-flex flex-row align-items-center justify-content-start">
            <ul class="d-flex flex-row align-items-start justify-content-start">
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
            </ul>

            <!-- Hamburger -->
            <div class="hamburger d-flex flex-column align-items-end justify-content-between"><div></div><div></div><div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
